.loading-img {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 5px;
	background: url("images/loading.gif") no-repeat center;
}

#postbox {
	font-size: 10pt;
	display: inline-block;
	*display: inline; 
	zoom : 1;
	padding: 2px;
	border: 1px solid lightgrey;
	background: ghostwhite;
	border-radius: 2px;
	max-width: 220px;
}

#postbox .selected {
	overflow: auto;
	margin: 0;
	padding: 0;
	max-width: 200px;
}

#postbox .message {
	overflow: auto;
	margin: 0;
	padding: 0;
	float: left;
	max-width: 200px;
}

#postbox .bnt-publish {
	height: 25px;
	float: right;
	color: grey;
	border: 1px solid lightgrey;
	cursor: pointer;
}

#postbox .bnt-publish:hover {
	background: orange;
}

#postbox .counter {
	text-align: right;
	font-size: 90%;
	line-height: 23px;
}

#postbox .toolbar {
	position: relative;
	margin-top: -10px;
	margin-bottom: 15px;
}

#postbox .toolbar a {
	padding: 0 2px 0 18px;
	background-image: url(images/annotation_book.png);
	background-repeat: no-repeat;
	display: block;
	height: 16px;
	zoom: 1;
}

#postbox .toolbar a:hover {
	text-decoration: none;
}

#postbox .toolbar a.webpage {
	background-position: 0 0;
}

#postbox .toolbar a.emotion {
	background-position: 0 -96px;
}

#postbox .toolbar a.image {
	background-position: 0 -16px;
}

#postbox .toolbar a.video {
	background-position: 0 -32px;
}

#postbox-dialog {
	position: absolute;
	-webkit-box-shadow: 0px 0px 5px 3px rgba(150, 150, 150, 0.5);
	box-shadow: 0px 0px 5px 3px rgba(150, 150, 150, 0.5);
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid lightgrey;
	background-color: white;
	z-index: 100;
	left: -10000;
	background: ghostWhite;
}

#postbox-dialog .bnt-close {
	cursor: pointer;
	position: absolute;
	top: -8px;
	right: -8px;
	width: 16px;
	height: 16px;
	background: url(images/close.png) no-repeat;
	display: block;
}

#postbox-dialog label {
	margin-right: 5px;
	font-size: 11px;
	font-weight: bold;
	color: #646464;
}

#postbox-dialog input[type="text"] {
	width: 220px;
}

#postbox-dialog textarea {
	width: 220px;
	overflow: auto;
}

#postbox-dialog .dialog label {
	display: inline;
}

#postbox-dialog .bnt-attach {
	margin-left: 10px;
}

#postbox-dialog .ajax-status {
	
}

#postbox-dialog .ajax-status.loading {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: whiteSmoke;
	opacity: 0.9;
	filter: alpha(opacity = 90); /* For IE8 and earlier */
}

#postbox-dialog .ajax-status.ajax-error {
	margin: 0 5px 10px 5px;
	color: #8C2E0B;
	padding-left: 20px;
	background: url("images/error.png") no-repeat top left;
}

#postbox-dialog .attached {
	margin: 8px;
/*	text-align: center; */
}

#postbox-dialog .attached img {
	max-width: 200px;
	max-height: 200px;
	vertical-align: middle;
}

#postbox-dialog .attached label {
	vertical-align: top;
}

#postbox-dialog .attached .pageinfo {
	min-height: 120px;
}

#postbox-dialog .attached .pageinfo .left {
	float: left;
	position: relative;
	width: 120px;
}

#postbox-dialog .attached .pageinfo .main {
	padding-left: 130px;
}

#postbox-dialog .attached .pageinfo .picture {
	height: 100px;
	width: 120px;
	text-align: center;
	line-height: 100px;
	margin: 2px 0;
}

#postbox-dialog .attached .pageinfo .picture img {
	max-width: 120px;
	max-height: 100px;
	vertical-align: middle;
	padding: auto;
}

#postbox-dialog .attached .pageinfo .nav {
	height: 16px;
	width: 16px;
	background-image: url(images/annotation_book.png);
	background-repeat: no-repeat;
}

#postbox-dialog .attached .pageinfo .nav.prev {
	float: left;
	background-position: 0 -49px;
}

#postbox-dialog .attached .pageinfo .nav.next {
	float: right;
	background-position: 0 -65px;
}

/********* Emotion Dialog *********/
#emotion-dialog {
	margin: 5px;
	width: 310px;
	text-align: center;
}

#emotion-dialog a {
	margin: 0 1px;
}

#emotion-dialog a img {
	padding: 1px;
	border: 1px solid AntiqueWhite;
}

/******** Webpage Dialog *********/
#webpage-dialog {
	margin: 10px 5px;
}

/******** Image Dialog *********/
/******** Video Dialog *********/
#image-dialog, #video-dialog {
	width: 400px;
}

#postbox-dialog .tabs {
	padding: 2px 8px 0 8px;
	margin: 0;
	border-bottom: 1px solid lightgrey;
}

#postbox-dialog .tabs li {
	list-style: none;
	display: inline-block;
	*display: inline; 
	zoom : 1;	
	padding: 0;
	border: 1px solid lightgrey;
	border-bottom: none;
	background-color: papayaWhip;
	margin: 0 2px -1px 0;
	clear: after;
}

#postbox-dialog .tabs li a {
	display: block;
	padding: 2px 10px 0 10px;
	text-decoration: none;
	color: black;
}

#postbox-dialog .tabs li a.active {
	background-color: ghostWhite;
	border-bottom: 1px solid ghostWhite;
}

#postbox-dialog .tab {
	margin: 10px;
}