.book-teaser {
	padding: 5px;
	margin: 0;
	border-bottom: 1px solid rgb(211, 215, 217);
	font-size: 12px;
}
.book-teaser-thumbnail {
	float: left;
	width: 120px;
	height: 120px;
}
.book-teaser-title {
	position: relative;
	margin-left: 130px;
	margin-bottom: 10px;
}
.book-teaser-description {
	position: relative;
	margin-left: 130px;
	min-height: 30px;
}

/*
* EBOOK USER PAGE
*/
ul.book_list {
	list-style: none;
}
.book_list li {
	margin-left: -9px !important;
	float: left;
	width: 120px;
	height: 120px;
}
