#block-friend-block-my-friends {
	margin-top: -1.5em !important;
	border-bottom: 1px solid rgb(211, 215, 217);
}
#block-friend-block-my-friends .content {
	min-height: 61px;
	max-height: 300px;
	overflow: auto;
}
#block-friend-block-my-friends .content::-webkit-scrollbar {
	width: 8px;
	background-color: #F5F5F5;
}
#block-friend-block-my-friends .content::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
#block-friend-block-my-friends .content::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #CCC;
}
.block-friend-block .user {
	display: inline-block;
	*display: inline;
	zoom: 1;
	position: relative;
	margin-right: 1em;
}
.block-friend-block .user .user-picture {
	width: 45px;
	height: 45px;
	padding: 0;
}
.block-friend-block .user .user-picture img {
	width: 100%;
}
.block-friend-block .user.online::after {
	content: ' ';
	height: 12px;
	width: 12px;
	background: url(images/online.png) no-repeat;
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
}
.block-friend-block .user.offline::after {
	content: ' ';
	height: 14px;
	width: 14px;
	background: url(images/offline.png) no-repeat;
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
}
